footer {
        padding: 50px 0;
        background-color: #000000;
        h2 {
                font-size: 16px;
                margin: 0 0 10px 0;
                color: #ffffff;
                font-weight: 500;
                position: relative;
                display: block;
                width: 100%;
                svg {
                        width: 100px;
                        position: relative;
                        left: -9px;
                }
        }
        div.footer-half {
                width: 50%;
                float: left;
                h3 {
                        font-size: 12px;
                        font-weight: 400;
                        margin: 0 0 15px 0;
                        color: #ffffff;
                }
                a {
                        color: #ffffff;
                        &.url {
                                margin: 15px 0 0 0;
                                font-size: 12px;
                                display: block;
                                text-decoration: underline;
                                &:last-of-type {
                                        margin: 0;
                                }
                        }
                }
                ul {
                        display: block;
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li {
                                display: block;
                                padding: 0;
                                margin: 0;
                                list-style-type: none;
                                a {
                                        display: block;
                                        color: #ffffff;
                                        font-size: 12px;
                                }
                        }
                        &.socials {
                                &.vertical {
                                        a {
                                                vertical-align: middle;
                                                i {
                                                        vertical-align: middle;
                                                        font-size: 14px;
                                                        margin: 0 15px 0 0;
                                                        color: $bedrockYellow;
                                                }
                                        }
                                }
                                &.horizontal {
                                        li {
                                                display: inline-block;
                                                margin: 0 15px 0 0;
                                                a {
                                                        i {
                                                                font-size: 28px;
                                                                color: $bedrockYellow;
                                                        }
                                                }
                                                &:last-of-type {
                                                        margin: 0;
                                                }
                                        }
                                }
                        }
                        &.contact {
                                margin: 0 0 15px 0;
                                li {
                                        a {
                                                line-height: 1.3em;
                                        }
                                }
                        }
                }
                p {
                        color: #ffffff;
                        font-size: 12px;
                        line-height: 1.3em;
                        margin: 0 0 15px 0;
                        &.copyright {
                                margin-bottom: 0;
                        }
                }
                @media all and (max-width:$tablet){
                        width: 100%;
                        float: none;
                        margin-bottom: 30px;
                        &:last-of-type {
                                margin-bottom: 0;
                        }
                }
        }
}
