.mobile-menu {
        width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
        transform: translateX(-100%);
        background-color: $bedrockYellow;
        div.hamb {
                float: left;
                width: 25px;
                height: 34px;
                margin: 3px 7px 0 0;
                cursor: pointer;
                position: absolute;
                top: 50px;
                right: 50px;
                @extend %transition;
                div.line {
                        height: 3px;
                        width: 100%;
                        background-color: $bedrockYellow;
                        position: absolute;
                        opacity: 1;
                        @extend %transition;
                        &:nth-of-type(1){
                                top: 8px;
                                left: 0;
                        }
                        &:nth-of-type(2){
                                top: 15px;
                                left: 0;
                        }
                        &:nth-of-type(3){
                                top: 22px;
                                left: 0;
                        }
                }
                &.open {
                        transform: rotate(90deg);
                        margin: 2px 7px 0 4px;
                        div.line {
                                background-color: #000000;
                                &:nth-of-type(1){
                                        transform: rotate(45deg);
                                        top: 20px;
                                }
                                &:nth-of-type(2){
                                        opacity: 0;
                                }
                                &:nth-of-type(3){
                                        top: 20px;
                                        transform: rotate(135deg);
                                }
                        }
                }
        }
        nav {
                margin-top: 100px;
                ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        display: block;
                        li {
                                margin: 0;
                                padding: 0;
                                list-style-type: none;
                                display: block;
                                a {
                                        display: block;
                                        padding: 10px;
                                        font-size: 24px;
                                        font-weight: 600;
                                }
                        }
                }
        }
        @extend %transition;
        &.open {
                transform: translateX(0%);
        }
        @media all and (max-width: $tablet){
                width: 100%;
        }
}

header {
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        z-index: 400;
        padding: 20px 0;
        background-color: transparent;
        svg {
                g.letters {
                        path {
                                fill: #ffffff;
                                @extend %transition;
                        }
                }
        }
        @extend %transition;
        div.hamb {
                float: left;
                position: relative;
                width: 25px;
                height: 34px;
                margin: 3px 7px 0 0;
                cursor: pointer;
                @extend %transition;
                div.line {
                        height: 3px;
                        width: 100%;
                        background-color: $bedrockYellow;
                        position: absolute;
                        opacity: 1;
                        @extend %transition;
                        &:nth-of-type(1){
                                top: 8px;
                                left: 0;
                        }
                        &:nth-of-type(2){
                                top: 15px;
                                left: 0;
                        }
                        &:nth-of-type(3){
                                top: 22px;
                                left: 0;
                        }
                }
                &.open {
                        transform: rotate(90deg);
                        margin: 2px 7px 0 4px;
                        div.line {
                                background-color: #000000;
                                &:nth-of-type(1){
                                        transform: rotate(45deg);
                                        top: 20px;
                                }
                                &:nth-of-type(2){
                                        opacity: 0;
                                }
                                &:nth-of-type(3){
                                        top: 20px;
                                        transform: rotate(135deg);
                                }
                        }
                }
        }
        a.logo {
                float: right;
                display: inline-block;
                svg {
                        width: 125px;
                }
        }
        &.scrolled, &.light {
                background-color: #ffffff;
                padding: 10px 0 0 0;
                svg {
                        g.letters {
                                path {
                                        fill: #000000;
                                }
                        }
                }
        }
}
