/*____Modules____*/

.module {
        padding: 0 0 50px 0;
        &:first-of-type {
                padding: 75px 0 50px 0;
        }
}

div.password-protected {
        form {
                display: block;
                width: 100%;
                float: left;
                input[type="password"] {
                        width: 100%;
                        max-width: 500px;
                        outline: none;
                        border: none;
                        border-bottom: 2px solid $bedrockYellow;
                }
        }
        .module-text-block {
                p {
                        a {
                                font-size: 20px;
                        }
                }
        }
}

table {
        border-color: $bedrockYellow !important;
        outline-color: $bedrockYellow !important;
        border: 1px;
        font-size: 16px;
        * {
                border-color: $bedrockYellow !important;
                outline-color: $bedrockYellow !important;
                font-size: 16px;
                vertical-align: top;
                p {
                        margin: 0;
                }
        }
        tr {
                td {
                        padding: 10px;
                }
        }
}
iframe.vimeo {
        width: 100%;
}
