div.contact-page {
        padding: 75px 0 50px 0;
        h2 {
                font-size: 32px;
                font-weight: 500;
        }
        p {
                font-size: 20px;
                line-height: 1.3em;
                a {
                        font-size: 20px;
                        display: inline-block;
                        line-height: 1.6em;
                        &:after {
                                width: 100%;
                                height: 2px;
                                background-color: $bedrockYellow;
                                display: block;
                                content: '';
                        }
                }
        }
        div.content-half {
                float: left;
                width: calc(50% - 20px);
                &:first-of-type {
                        margin-right: 40px;
                }
                @media all and (max-width: $tablet){
                        width: 100%;
                        float: none;
                        &:first-of-type {
                                margin-right: 0;
                        }
                }
        }
}
