div.homepage-header {
        background-color: grey;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: relative;
        div.home-header-content {
                position: absolute;
                top: 47%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: auto;
                h1 {
                        text-align: center;
                        color: #ffffff;
                        font-weight: 400;
                        &:after {
                                width: 100%;
                                height: 3px;
                                background-color: $bedrockYellow;
                                left: 0;
                                right: 0;
                                margin: auto;
                                display: block;
                                content: '';
                        }
                }
                h3 {
                        text-align: center;
                        color: #ffffff;
                        font-weight: 100;
                        font-size: 18px;
                        letter-spacing: 1px;
                        margin: 20px 0 0 0;
                }
        }
}

.home {
        section.content-builder {
                padding: 50px 0;
        }
}
