.module-awards {
        h2 {
                display: block;
                position: relative;
                margin: 0 0 15px 0;
                font-weight: 400;
                &:after {
                        position: absolute;
                        background-color: $bedrockYellow;
                        width: 100%;
                        height: 3px;
                        left: 0;
                        bottom: -5px;
                        content: '';
                }
        }
        div.awards-container {
                column-count: 2;
                column-gap: 30px;
                div.award-content {
                        p {
                                display: inline-block;
                        }
                }
                @media all and (max-width: $tablet){
                        column-count: 1;
                }
        }
}
