.module-case-studies {
        .case-study-block {
                float: left;
                height: 350px;
                padding: 20px;
                width: 33.333%;
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                div.block-content {
                        @extend %transition;
                        width: calc(100% - 40px);
                        position: absolute;
                        bottom: 0px;
                        display: block;
                        z-index: 150;
                        left: 20px;
                        h3 {
                                margin: 0 0 5px 0;
                                color: #ffffff;
                                font-size: 20px;
                                display: block;
                                font-weight: 400;
                                line-height: 1em;
                        }
                        a {
                                opacity: 0;
                                margin: 0;
                                display: inline-block;
                                color: #ffffff;
                                font-size: 16px;
                                font-weight: 100;
                                line-height: 1em;
                                position: relative;
                                @extend %transition;
                                &:after {
                                        position: absolute;
                                        left: 0;
                                        bottom: -3px;
                                        background-color: $bedrockYellow;
                                        height: 2px;
                                        width: 100%;
                                        content: '';
                                }
                        }
                }
                &:after {
                        @extend %transition;
                        background-color: rgba(black, 0.6);
                        position: absolute;
                        height: 100%;
                        z-index: 100;
                        width: 100%;
                        content: '';
                        top: 0;
                        left: 0;
                }
                &:hover {
                        div.block-content {
                                bottom: 20px;
                                a {
                                        opacity: 1;
                                }
                        }
                        &:after {
                                background-color: rgba(0,0,0,0.2);
                        }
                }
        }
        @media all and (max-width: $tablet){
                .case-study-block {
                        width: 50%;
                        div.block-content {
                                opacity: 1;
                                bottom: 20px;
                        }
                }
        }
        @media all and (max-width: $mobile){
                .case-study-block {
                        width: 100%;
                }
        }
}
