.module-contact-row {
        clear: both;
        padding: 50px 0;
        h3.title {
                display: block;
                width: 100%;
                float: left;
                font-weight: 500;
                margin: 0 0 20px 0;
                span.yellow {
                        color: $bedrockYellow;
                        font-weight: 800;
                }
        }
        div.half {
                float: left;
                min-height: 50px;
                width: calc(50% - 7.5px);
                p {
                        font-weight: 500;
                        margin: 0 0 15px 0;
                        font-size: 16px;
                        &:last-of-type {
                                margin: 0;
                        }
                        a {
                                display: inline-block;
                                &:after {
                                        width: 100%;
                                        height: 2px;
                                        background-color: $bedrockYellow;
                                        display: block;
                                        content: '';
                                }
                        }
                }
                &:first-of-type {
                        margin-right: 15px;
                }
                @media all and (max-width: $tabletBig){
                        width: 100%;
                        &:first-of-type {
                                margin-right: 0;
                                margin-bottom: 15px;
                        }
                }
        }
}
