.module-films-slider {
        div.slide {
                outline: none;
                border: none;
                &:hover, &:focus, &:active {
                        outline: none;
                        border: none;
                }
                * {
                        &:hover, &:focus, &:active {
                                outline: none;
                                border: none;
                        }
                }
                a {
                        display: block;
                        div.image {
                                width: 100%;
                                height: 350px;
                                background-size: cover;
                                background-position: 50% 50%;
                        }
                        h3 {
                                font-size: 26px;
                                font-weight: 400;
                                margin: 10px 0 0 0;
                        }
                }
        }
}
