.module-image-block {
        .inner {
                img {
                        width: 100%;
                        max-width: 900px;
                }
                @media all and (max-width: $tabletBig){
                        img {
                                max-width: 100%;
                        }
                }
        }
}
