.module-memberships {
        padding: 0 0 100px 0;
        h2 {
                display: block;
                position: relative;
                margin: 0 0 50px 0;
                font-weight: 400;
        }
        div.membership-container {
                div.membership-block {
                        display: inline-block;
                        width: 30%;
                        text-align: center;
                        img {
                                width: calc(100% - 100px);
                                margin: 0 50px;
                                height: auto;
                        }
                        @media all and (max-width: $tablet){
                                width: 100%;
                                display: block;
                                img {
                                        max-width: 200px;
                                        margin: 0 0 50px 0;
                                }
                                &:last-of-type {
                                        img {
                                                margin: 0;
                                        }
                                }
                        }
                }
        }
}
