.module-sweet-spot {
        background-color: lightgrey;
        div.sweet-block {
                padding: 15px;
                box-sizing: border-box;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                position: relative;
                height: 300px;
                float: left;
                &.yellow {background-color: $bedrockYellow;}
                &.black {background-color: black;}
                &.lightgrey {background-color: lightgrey;}
                &.darkgrey {background-color: darkgrey;}
                &.fifty {
                        width: 50%;
                }
                &.twenty {
                        width: 25%;
                }
                &.half-height {
                        height: 150px;
                }
                div.text {
                        position: absolute;
                        bottom: 20px;
                        z-index: 200;
                        left: 20px;
                        margin: 0;
                        width: calc(100% - 40px);
                        h3 {
                                margin: 0;
                                font-size: 20px;
                                color: #ffffff;
                                line-height: 1.3em;
                                font-weight: 400;
                                &:after {
                                        content: '';
                                        width: 30px;
                                        height: 2px;
                                        margin: 10px 0 0 0;
                                        display: block;
                                        position: relative;
                                        background-color: $bedrockYellow;
                                }
                        }
                        h4 {
                                margin: 15px 0 0 0;
                                font-size: 16px;
                                color: #ffffff;
                                line-height: 1.3em;
                                font-weight: 400;
                                display: none;
                                &.show {
                                        display: block;
                                }
                        }
                }
                &:after {
                        left: 0;
                        top: 0;
                        content: '';
                        z-index: 100;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: rgba(black, 0.6);
                }
                div.sweet-spot-bg-two {
                        left: 0;
                        top: 0;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        @extend %transition;
                        background-size: cover;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                }
                &:hover {
                        background-image: transparent !important;
                        div.sweet-spot-bg-two {
                                opacity: 1;
                        }
                }
        }
        @media all and (max-width: $tabletBig ){
                div.sweet-block {
                        height: 200px;
                        &.half-height {
                                height: 100px;
                        }
                        div.text {
                                h3 {
                                        font-size: 16px;
                                }
                                h4 {
                                        font-size: 12px;
                                }
                        }
                }
        }
        @media all and (max-width: $tabletBig ){
                div.sweet-block {
                        &.fifty, &.twenty {
                                width: 50%;
                        }
                        &.half-height, &.full-height {
                                height: 150px;
                        }
                        div.text {
                                h3 {
                                        font-size: 20px;
                                }
                                h4 {
                                        font-size: 12px;
                                }
                        }
                }
        }
        @media all and (max-width: $mobileMed ){
                div.sweet-block {
                        &.fifty, &.twenty {
                                width: 100%;
                        }
                        &.half-height, &.full-height {
                                height: auto;
                                min-height: 125px;
                        }
                        div.text {
                                position: relative;
                                width: 100%;
                                left: 0;
                                bottom: 0
                        }
                }
        }
}
