.module-team {
        h2 {
                font-size: 32px;
                font-weight: 500;
        }
        ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: block;
                li {
                        padding: 0 0 30px 0;
                        list-style-type: none;
                        float: left;
                        &.fifty {
                                margin: 0 20px 0 0;
                                width: calc(50% - 10px);
                                &:nth-of-type(even){
                                        margin: 0;
                                }
                        }
                        &.thirty {
                                margin: 0 22.5px 0 0;
                                width: calc(33.333% - 15px);
                                &:nth-of-type(3n+1){
                                        margin: 0;
                                }
                                @media all and (max-width:768px){
                                        margin: 0 20px 0 0;
                                        width: calc(50% - 10px);
                                        &:nth-of-type(3n+1){
                                                margin: 0 20px 0 0;
                                        }
                                        &:nth-of-type(even){
                                                margin: 0;
                                        }
                                }
                        }
                        &.twenty {
                                width: calc(25% - 50px);
                                &:nth-of-type(4n){
                                        margin: 0;
                                }
                        }
                        img {
                                margin: 0 0 10px 0;
                                filter: saturate(0);
                                @extend %transition;
                        }
                        h3 {
                                font-size: 16px;
                                font-weight: 900;
                                margin: 0;
                                &.light {
                                        font-weight: 400;
                                }
                        }
                        &:hover {
                                img {
                                        filter: saturate(1);
                                }
                        }
                        @media all and (max-width: 540px){
                                &.fifty, &.thirty, &.twenty {
                                        margin: 0;
                                        width: 100%;
                                        &:nth-of-type(even){
                                                margin: 0;
                                        }
                                        &:nth-of-type(3n+1){
                                                margin: 0;
                                        }
                                }
                        }
                }
        }
}
