.module-text-block-with-background {
        float: left;
        height: 500px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        padding: 50px 0;
        &:first-of-type {
                padding: 50px 0;
        }
        div.content {
                width: 80%;
                max-width: 700px;
                h2 {
                        color: #ffffff;
                        font-size: 34px;
                        font-weight: 500;
                        margin: 0 0 10px 0;
                }
                p {
                        font-size: 18px;
                        color: #ffffff;
                        font-weight: 300;
                        margin: 0;
                }
                a {
                        display: inline-block;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 200;
                        margin: 15px 0 0 0;
                        position: relative;
                        &:after {
                                content: '';
                                width: 100%;
                                height: 2px;
                                background-color: $bedrockYellow;
                                position: absolute;
                                left: 0;
                                bottom: -1px;
                        }
                }
        }
        &.full {
                width: 100%;
                margin-bottom: 15px;
        }
        &.three-quarters {
                width: 75%;
        }
        &.half {
                width: calc(50% - 7.5px);
        }
        &.quarter {
                width: 25%;
        }
        &:last-of-type {
                margin-left: 15px;
        }
        @media all and (max-width: $tabletBig){
                height: 400px;
                div.content {
                        width: 100%;
                        h2 {
                                font-size: 26px;
                        }
                        p {
                                font-size: 16px;
                        }
                }
        }
        @media all and (max-width: $tablet){
                height: auto;
                min-height: 300px;
                margin-bottom: 15px;
                &:last-of-type {
                        margin-left: 0;
                        margin-bottom: 0;
                }
                &.full {
                        margin-bottom: 15px;
                }
                &.three-quarters {
                        width: 100%;
                }
                &.half {
                        width: 100%;
                }
        }
}
