.module-text-block {
        .inner {
                float: left;
                h2 {
                        font-size: 32px;
                        font-weight: 500;
                        &.procurement-title {
                                position: relative;
                                &:after {
                                        content: '';
                                        display: block;
                                        width: 100%;
                                        height: 2px;
                                        background-color: $bedrockYellow;
                                        position: absolute;
                                        bottom: -5px;
                                }
                        }
                }
                h3 {
                        font-size: 30px;
                        font-weight: 400;
                }
                p {
                        font-size: 20px;
                        line-height: 1.3em;
                }
                a {
                        font-size: 16px;
                        display: inline-block;
                        line-height: 1.6em;
                        &:after {
                                width: 100%;
                                height: 2px;
                                background-color: $bedrockYellow;
                                display: block;
                                content: '';
                        }
                }
                span.yellow {
                        color: $bedrockYellow;
                        font-weight: 800;
                }
        }
        img.icon {
                width: 23%;
                float: right;
                display: inline-block;
        }
        .yellow-underline {
                position: relative;
                display: inline-block;
                left: 50%;
                transform: translateX(-50%);
                &:after {
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: $bedrockYellow;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                }
        }
        @media all and (max-width: $tablet){
                .inner {
                        width: 100% !important;
                        h2 {
                                font-size: 26px;
                        }
                        p {
                                font-size: 18px;
                        }
                }
                img.icon {
                        display: none;
                }
        }
}
