.module-text-image {
        .inner {
                .half {
                        float: left;
                        width: calc(50% - 25px);
                        &.image {
                                background-size: cover;
                                background-position: 50% 50%;
                                min-height: 300px;
                                &.right {
                                        margin-left: 50px;
                                }
                                &.left {
                                        margin-right: 50px;
                                }
                        }
                        &.text {
                                h2 {
                                        margin: 0 0 15px 0;
                                        font-size: 32px;
                                        font-weight: 500;
                                }
                                a {
                                        display: inline-block;
                                        &:after {
                                                width: 100%;
                                                height: 2px;
                                                background-color: $bedrockYellow;
                                                display: block;
                                                content: '';
                                        }
                                }
                        }
                        @media all and (max-width: $tablet){
                                display: block;
                                width: 100%;
                                float: none;
                                &.image {
                                        margin-bottom: 30px;
                                }
                        }
                }
        }
}
